html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #000000;
}

.form-signin {
  width: 100%;
  max-width: 450px;
  padding: 15px;
  margin: auto;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}
/* 👉 z-index : 레이어를 주는 것. 만약 5라는 값을 준다면 레이어가 5개 쌓임 */
/* 👉 배치를 앞쪽으로 나올 수 있게 조정하는 기능 */

.form-signin button[type="submit"] {
  margin-top: 5px;
  background-color: #fd890d;
  border-color: #fd890d;
}

.text-light{
  color: aliceblue;
}

.text-dark{
  color: black;
}