{% extends 'base.html' %}

{% block content %}
  <h2 class="text-center">{{ article.user }}님의 {{ movie.title }} 리뷰 DETAIL</h2>
  <h3>{{ article.pk }} 번째 글</h3>
  <hr>
  <p>제목: {{ article.title }}</p>
  <p>영화 제목: {{ movie.title }}</p>
  <p>내용: {{ article.content }}</p>
  <p>평점: {{ article.rank }}</p>
  <p>작성 시각: {{ article.created_at }}</p>
  <p>수정 시각: {{ article.updated_at }}</p>

  {% if request.user == article.user  %}
    <a href="{% url 'movies:article_update' article.pk %}">수정하기</a>
    <a href="{% url 'movies:article_delete' article.pk %}">삭제하기</a>
  {% endif %}

  <hr>
  <h4>댓글 목록</h4>
  {% if comments|length %}
    <p><b>{{ comments|length }}개의 댓글이 있습니다.</b></p>
  {% endif %}
  {% for comment in comments %}
    <div>
      {{ comment.user }} - {{ comment.content }}
      ({{ comment.created_at|date:'Y-m-d H:i' }})
      {% if request.user == comment.user  %}
        {% comment %} <a href="{% url 'movies:update_comment' comment.pk %}">수정</a> {% endcomment %}
        <a href="{% url 'movies:delete_comment' comment.pk %}">삭제</a>
      {% endif %}
    </div>
  {% empty %}
    <p><b>댓글이 없어요..</b></p>
  {% endfor %}
  <hr>
  {% if request.user.is_authenticated %}
    <form action="{% url 'movies:create_comment' article.pk %}" method="POST">
      {% csrf_token %}
      {{ comment_form }}
      <input type="submit">
    </form>
  {% else %}
    <a href="{% url 'accounts:login' %}">[댓글을 작성하려면 로그인하세요.]</a>
  {% endif %}
  <a href="{% url 'movies:detail' movie.pk %}">[back]</a>
{% endblock  %}
