{% extends 'base.html' %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'article_create.css' %}">
{% endblock %}

{% block content %}
{% comment %} form을 꾸밀 패키지 load {% endcomment %}
{% load crispy_forms_tags %}

{% comment %} article 작성 form {% endcomment %}
<div class="text-light mt-4">
  <div class="card bg-transparent border-warning">
    <div class="card-header card text-center">
      <h2>👑 {{ movie.title }} 👑</h2>
    </div>
    <div class="card-body">
      <h5 class="card-title">리뷰 작성하기</h5>
      <p class="card-text">
        <form action="#" method="POST">
          {% csrf_token %}
          {{ form|crispy }}
          <input type="submit" class="btn btn-primary">
        </form>
      </p>
    </div>
  </div>

  <br>
  <a href="{% url 'movies:detail' movie.pk %}" class="btn btn-primary">back</a>
  <hr>
</div>
{% endblock %}
