{% extends 'base.html' %}
{% load static %}

{% block content %}

  <div class="row">
    <div class="col-sm-5 ">
      <div class="card bg-dark text-white" style="#">
        <img src="https://image.tmdb.org/t/p/original/{{ movie.poster_path }}" class="card-img-top" alt="...">
      </div>
    </div>
    <div class="col-sm-7">
      <div class="card bg-transparent text-white">
        <div class="card-body">
          <h1 class="text-center card-title">{{ movie.title }}</h1>

          <!-- 평점 & 찜하기 버튼 한 블럭에-->
          <div class="d-flex justify-content-between">
            <p class="card-text">tmdb vote : {{ movie.weighted_vote|floatformat }}</p>
            <form action="{% url 'movies:like' movie.id %}" method="POST" class="d-inline" id="like-form">
              {% csrf_token %}
              <button class="btn btn-outline-primary">
              {% if request.user in movie.like_users.all %}
                <span style="color: Tomato;" class="like-color"><i class="fas fa-heart heart like-fill"></i></span>
              {% else %}
                <span class="like-color"><i class="far fa-heart heart like-fill"></i></span>
              {% endif %}
              </button>
            </form>
          </div>
          
          <p class="card-text">overview : {{ movie.overview }}</p>

          <hr>
            <!-- pickcorn vote -->
            <div>
              <img src="{% static 'pickcorn3.png' %}" width="40"> vote
              <div class="btn-group d-flex justify-content-center" role="group">
                <form action="{% url 'movies:rate_bad' movie.id %}" method="POST">
                  {% csrf_token %}
                  {% if request.user in movie.rated_bad_users.all %}
                    <button class="btn btn-outline-primary"><i class="fas fa-thumbs-down"></i></span></button>
                  {% else %}
                    <button class="btn btn-outline-primary"><i class="far fa-thumbs-down"></i></button>
                  {% endif %}
                </form> 
                <form action="{% url 'movies:rate_good' movie.id %}" method="POST">
                  {% csrf_token %}
                  {% if request.user in movie.rated_good_users.all %}
                    <button class="btn btn-outline-primary"><span style="color: Tomato;"><i class="fas fa-thumbs-up"></i></span></button>
                  {% else %}
                    <button class="btn btn-outline-primary"><i class="far fa-thumbs-up"></i></button>
                  {% endif %}
                </form>  
              </div>
              <p>
                {% if movie_score != 0 %}
                  <div class="progress" style="height: 30px;">
                    <div class="progress-bar bg-warning progress-bar-striped progress-bar-animated" role="progressbar" style="width: {{ movie_score }}%;" aria-valuenow="{{ movie_score }}" aria-valuemin="0" aria-valuemax="100">{{ movie_score }}% ({{ movie_votes }} votes)</div>
                  </div>
                {% else %}
                  <div class="progress" style="height: 30px;">
                    <div class="progress-bar bg-secondary progress-bar-striped" role="progressbar" style="width: 100%;" aria-valuenow="{{ movie_score }}" aria-valuemin="0" aria-valuemax="100" style="color: black;">{{ movie_score }}% ({{ movie_votes }} votes)</div>
                  </div>
                {% endif %}
              </p>
            </div>
          <hr>
            <div class="container">
              <div class="row">
                <div class="col-6">
                  <h4>Ongoing Reviews </h4>
                </div>
                <div class="col-6 d-flex flex-row-reverse">
                  <form action="{% url 'movies:article_create' movie.id %}">
                    <button class="btn btn-success d-block">Add Review 👉</button>
                  </form>
                </div>
              </div>
            </div>

            <br>
            {% if articles|length %}
              <p><b>{{ articles|length }}개의 리뷰가 있습니다.</b></p>
                <div class="container">
                  {% for article in posts %}
                    <div class="card my-1 border-0">
                      <a href="{% url 'movies:article_detail' article.pk %}" class="text-decoration-none">
                        <li class="list-group-item d-flex justify-content-between align-items-start bg-dark text-white ">
                          {% if article.user in movie.rated_good_users.all %}
                            <h2>😆</h2>
                          {% elif article.user in movie.rated_bad_users.all %}
                            <h2>🤔</h2>
                          {% else %}
                            <h2>🥚</h2>
                          {% endif %}
                          <div class="ms-2 me-auto">
                            <div class="fw-bold">{{ article.title }}</div>
                            작성자: {{ article.user }}
                            ({{ article.created_at|timesince }} 전)
                          </div>
                          <span class="badge bg-primary rounded-pill"> {{ article.comment_set.count }}  comments </span>
                        </li>
                      </a>
                    </div>
                  {% endfor %}
                
                  <br>
                  <div class="">
                    {% if posts.has_previous %}
                    <a href="?page=1"><button type="button" class="btn btn-warning">first</button></a>
                    <a href="?page={{ posts.previous_page_number }}"><button type="button" class="btn btn-warning">previous</button></a>
                    {% endif %}
                    <span>{{ posts.number }}</span>
                    <span>/</span>
                    <span>{{ posts.paginator.num_pages }}</span>
                    {% if posts.has_next %}
                    <a href="?page={{ posts.next_page_number }}"><button type="button" class="btn btn-warning">next</button></a>
                    <a href="?page={{ posts.paginator.num_pages }}"><button type="button" class="btn btn-warning">last</button></a>
                    {% endif %}
                  </div>
                </div>
              </ol>
            {% else %}
              <p>아직 리뷰가 없어요..😥</p>
            {% endif %}

          <hr>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <div class="container">
    <div class="row gx-5">
      <h3 class="text-white">추천 영화</h3>
      {% for recom in movie.recommends.all %}
        <div class="card bg-transparent text-white col-12 col-md-4">
          <a href="{% url 'movies:detail' recom.pk %}">
            <img src="https://image.tmdb.org/t/p/w500/{{ recom.poster_path }}" class="card-img" alt="...">
            <div class="card-img-overlay">
              <div class="badge bg-primary text-wrap ">
                평점: {{ recom.weighted_vote|floatformat }}
              </div>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>  
  </div>

  <hr>

<script>
  const likeForm = document.querySelector('#like-form')
  let csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value

  console.log('선택됨')

  likeForm.addEventListener('submit', event => {
    event.preventDefault()

    console.log(event.target.dataset.movieId)
    const movieId = event.target.dataset.movieId

    axios({
      url: `/movies/${movieId}/like/`,
      headers : {
        'X-CSRFToken': csrfToken,       
      },
    })
    .then( function ( response ) {
      console.log(response)
    })
    .catch( function (error) {
      switch (error.response.status) {
        case 401: {
          location.href = `/accounts/login/?next=/movies/${movieId}/`
          break
        }
        default: {
          // 에러메세지를 경고창으로 표시한다
          alert('알 수 없는 에러가 발생했습니다. 관리자를 통해 문의해주세요.')
        }
      }
    })
  })
</script>
{% endblock %}
