{% extends 'base.html' %}
{% load static %}

{% block content %}

{% if request.user.is_authenticated %}
    {% if playlist %}
      <h2 class="mb-3">내가 찜한 영화 ʕ•ﻌ•ʔ</h2>
        <div class="container">
          <div class="row g-4">
            {% for movie in playlist %}
                <div class="col-4 col-md-2">
                  <a href="{% url 'movies:detail' movie.pk %}" class="text-decoration-none">
                    <div class="card h-100">
                      <img src="https://image.tmdb.org/t/p/original/{{ movie.poster_path }}" class="card-img-top" alt="movie poster">
                      <div class="card-body bg-dark text-white">
                        <h5 class="card-title">{{ movie.title }}</h5>
                        <p class="card-text">평점 : {{ movie.weighted_vote|floatformat }}</p>
                      </div>
                    </div>
                  </a>
                </div>
            {% endfor %}  
          </div>
        </div>
      <hr>
      <h2 class="mb-3 text-light">찜한 목록과 비슷한 영화들이에요! (⸝⸝･ᴗ･⸝⸝)੭˒˒</h2>
        <div class="container">
          <div class="row g-4">
            {% for movie in playlist_recom %}
                <div class="col-4 col-md-2">
                  <a href="{% url 'movies:detail' movie.pk %}" class="text-decoration-none">
                    <div class="card h-100">
                      <img src="https://image.tmdb.org/t/p/original/{{ movie.poster_path }}" class="card-img-top" alt="movie poster">
                      <div class="card-body bg-dark text-white">
                        <h5 class="card-title">{{ movie.title }}</h5>
                        <p class="card-text">평점 : {{ movie.weighted_vote|floatformat }}</p>
                      </div>
                    </div>
                  </a>
                </div>
            {% endfor %}
          </div>
        </div>
    {% else %}
      <div class="alert alert-info" role="alert">
        플레이리스트를 추가하고 맞춤영화를 추천받으세요!
      </div>
    {% endif %}
    <hr>

    {% if followingslist %}
      <h2 class="mb-3 text-light">팔로우한 친구가 좋아하는 &amp; 좋아할 영화예요 (ฅ•ω•ฅ)♡</h2>
        <div class="container">
          <div class="row g-4">
            {% for movie in followingslist %}
                <div class="col-4 col-md-2">
                  <a href="{% url 'movies:detail' movie.pk %}" class="text-decoration-none">
                    <div class="card h-100">
                      <img src="https://image.tmdb.org/t/p/original/{{ movie.poster_path }}" class="card-img-top" alt="movie poster">
                      <div class="card-body bg-dark text-white">
                        <h5 class="card-title">{{ movie.title }}</h5>
                        <p class="card-text">평점 : {{ movie.weighted_vote|floatformat }}</p>
                      </div>
                    </div>
                  </a>
                </div>
            {% endfor %}
          </div>
        </div>
    {% else %}
      <div class="alert alert-info" role="alert">
        친구를 팔로우하고 맞춤영화를 추천받으세요!
      </div>
    {% endif %}
    <hr>


  {% else %}
      <div class="alert alert-info" role="alert">
        회원가입하고 맞춤영화를 추천받으세요!
      </div>
  {% endif %}

    <h2 class="mb-3 text-light"><img src="{% static 'pickcorn3.png' %}" width="50">이 평가한 top 영화예요 </h2>
        <div class="container">
          <div class="row g-4">
            {% for movie in weighted_vote_movies %}
                <div class="col-4 col-md-2">
                  <a href="{% url 'movies:detail' movie.pk %}" class="text-decoration-none">
                    <div class="card h-100">
                      <img src="https://image.tmdb.org/t/p/original/{{ movie.poster_path }}" class="card-img-top" alt="movie poster">
                      <div class="card-body bg-dark text-white h-100">
                        <h5 class="card-title overflow-auto">{{ movie.title }}</h5>
                        <p class="card-text">평점 : {{ movie.weighted_vote|floatformat }}</p>
                      </div>
                    </div>
                  </a>
                </div>
            {% endfor %}
          </div>
        </div>
    <hr>
    <h2 class="mb-3 text-light">많은 사람들이 보았어요 °˖✧◝(⁰▿⁰)◜✧˖°</h2>
        <div class="container">
          <div class="row g-4">
            {% for movie in vote_movies %}
                <div class="col-4 col-md-2">
                  <a href="{% url 'movies:detail' movie.pk %}" class="text-decoration-none">
                    <div class="card h-100">
                      <img src="https://image.tmdb.org/t/p/original/{{ movie.poster_path }}" class="card-img-top" alt="movie poster">
                      <div class="card-body bg-dark text-white">
                        <h5 class="card-title text-overflow: ellipsis">{{ movie.title }}</h5>
                        <p class="card-text">평점 : {{ movie.weighted_vote|floatformat }}</p>
                      </div>
                    </div>
                  </a>
                </div>
            {% endfor %}
          </div>
        </div>
    <hr>
    <h2 class="mb-3 text-light">숨은 보석을 발굴해봅시다 ꒰( ˵¯͒ꇴ¯͒˵ )꒱</h2>
        <div class="container">
          <div class="row g-4">
            {% for movie in random_movies %}
                <div class="col-4 col-md-2">
                  <a href="{% url 'movies:detail' movie.pk %}" class="text-decoration-none">
                    <div class="card h-100">
                      <img src="https://image.tmdb.org/t/p/original/{{ movie.poster_path }}" class="card-img-top" alt="movie poster">
                      <div class="card-body bg-dark text-white">
                        <h5 class="card-title">{{ movie.title }}</h5>
                        <p class="card-text">평점 : {{ movie.weighted_vote|floatformat }}</p>
                      </div>
                    </div>
                  </a>
                </div>
            {% endfor %}
          </div>
        </div>
  

{% endblock content %}