{% extends 'base.html' %}

{% block content %}
{% if request.user.is_authenticated %}
    {% if playlist %}
      <h2 class="mb-3">내가 찜한 영화</h2>
        <div class="container">
          <div class="row g-4">
            {% for movie in playlist %}
                <div class="col-3">
                  <a href="{% url 'movies:detail' movie.pk %}" class="text-decoration-none">
                    <div class="card">
                      <img src="https://image.tmdb.org/t/p/original/{{ movie.poster_path }}" class="card-img-top" alt="movie poster" style="height:10%">
                      <div class="card-body bg-dark text-white">
                        <h5 class="card-title">{{ movie.title }}</h5>
                        <p class="card-text">평점 : {{ movie.weighted_vote|floatformat }}</p>
                      </div>
                    </div>
                  </a>
                </div>
            {% endfor %}
          </div>
        </div>
      <h2 class="mb-3 text-light">찜한 목록과 비슷한 영화들이에요!</h2>
        <div class="container">
          <div class="row g-4">
            {% for movie in playlist_recom %}
                <div class="col-3">
                  <a href="{% url 'movies:detail' movie.pk %}" class="text-decoration-none">
                    <div class="card">
                      <img src="https://image.tmdb.org/t/p/original/{{ movie.poster_path }}" class="card-img-top" alt="movie poster" style="height:10%">
                      <div class="card-body bg-dark text-white">
                        <h5 class="card-title">{{ movie.title }}</h5>
                        <p class="card-text">평점 : {{ movie.weighted_vote|floatformat }}</p>
                      </div>
                    </div>
                  </a>
                </div>
            {% endfor %}
          </div>
        </div>
    {% else %}
      <div class="alert alert-warning" role="alert">
        플레이리스트를 추가하고 맞춤영화를 추천받으세요!
      </div>
    {% endif %}


    {% if followingslist %}
      <h2 class="mb-3 text-light">팔로우한 친구가 좋아한, 좋아할만한 영화</h2>
        <div class="container">
          <div class="row g-4">
            {% for movie in followingslist %}
                <div class="col-3">
                  <a href="{% url 'movies:detail' movie.pk %}" class="text-decoration-none">
                    <div class="card">
                      <img src="https://image.tmdb.org/t/p/original/{{ movie.poster_path }}" class="card-img-top" alt="movie poster" style="height:10%">
                      <div class="card-body bg-dark text-white">
                        <h5 class="card-title">{{ movie.title }}</h5>
                        <p class="card-text">평점 : {{ movie.weighted_vote|floatformat }}</p>
                      </div>
                    </div>
                  </a>
                </div>
            {% endfor %}
          </div>
        </div>
    {% else %}
      <div class="alert alert-warning" role="alert">
        친구를 팔로우하고 맞춤영화를 추천받으세요!
      </div>
    {% endif %}


  {% else %}
      <div class="alert alert-warning" role="alert">
        회원가입하고 맞춤영화를 추천받으세요!
      </div>

  {% endif %}

    <h2 class="mb-3 text-light">pickcorn이 평가한 top 영화예요</h2>
        <div class="container">
          <div class="row g-4">
            {% for movie in weighted_vote_movies %}
                <div class="col-3">
                  <a href="{% url 'movies:detail' movie.pk %}" class="text-decoration-none">
                    <div class="card">
                      <img src="https://image.tmdb.org/t/p/original/{{ movie.poster_path }}" class="card-img-top" alt="movie poster" style="height:10%">
                      <div class="card-body bg-dark text-white">
                        <h5 class="card-title">{{ movie.title }}</h5>
                        <p class="card-text">평점 : {{ movie.weighted_vote|floatformat }}</p>
                      </div>
                    </div>
                  </a>
                </div>
            {% endfor %}
          </div>
        </div>
    <h2 class="mb-3 text-light">많은 사람들이 보았어요</h2>
        <div class="container">
          <div class="row g-4">
            {% for movie in vote_movies %}
                <div class="col-3">
                  <a href="{% url 'movies:detail' movie.pk %}" class="text-decoration-none">
                    <div class="card">
                      <img src="https://image.tmdb.org/t/p/original/{{ movie.poster_path }}" class="card-img-top" alt="movie poster" style="height:10%">
                      <div class="card-body bg-dark text-white">
                        <h5 class="card-title">{{ movie.title }}</h5>
                        <p class="card-text">평점 : {{ movie.weighted_vote|floatformat }}</p>
                      </div>
                    </div>
                  </a>
                </div>
            {% endfor %}
          </div>
        </div>
    <h2 class="mb-3 text-light">숨은 보석을 발굴해봅시다</h2>
        <div class="container">
          <div class="row g-4">
            {% for movie in random_movies %}
                <div class="col-3">
                  <a href="{% url 'movies:detail' movie.pk %}" class="text-decoration-none">
                    <div class="card">
                      <img src="https://image.tmdb.org/t/p/original/{{ movie.poster_path }}" class="card-img-top" alt="movie poster" style="height:10%">
                      <div class="card-body bg-dark text-white">
                        <h5 class="card-title">{{ movie.title }}</h5>
                        <p class="card-text">평점 : {{ movie.weighted_vote|floatformat }}</p>
                      </div>
                    </div>
                  </a>
                </div>
            {% endfor %}
          </div>
        </div>
  

{% endblock content %}