{% extends 'base.html' %}

{% block content %}

<h1>Search Result</h1>

<ul>
  {% if movies|length %}
    <div class="container">
      <br>
      <h3>- 🎬 Movies</h3>
      <br>
      <div class="row g-4">
        {% for movie in posts  %}
          <div class="col-4 col-md-2">
            <a href="{% url 'movies:detail' movie.pk %}" class="text-decoration-none">
              <div class="card h-100 border-0">
                <img src="https://image.tmdb.org/t/p/original/{{ movie.poster_path }}" class="card-img-top" alt="movie poster">
                {% comment %} <div class="card-img-overlay">
                  <h5 class="text-center"><span class="badge bg-secondary">{{ movie.title }}</span></h5>
                </div> {% endcomment %}
              </div>
            </a>
          </div>
        {% endfor %}
        <br>
      </div>
    </div>
  {% else %}
    <br>
    <h3>- 🎬 Movies</h3>
    <br>
    <h2>검색 결과가 없습니다...</h2>
    <br>
  {% endif %}
    
  <hr>
  
  {% if users|length %}
    <div class="container">
      <br>
      <h3>- 🕴 Users</h3>
      <br>
      <div class="row g-4">
        {% for user in user_posts  %}
          <div class="col-4 col-md-2 card bg-dark">
            <a href="{% url 'accounts:profile' user.pk %}" class="text-decoration-none text-center my-3">
              <p>ID: {{ user.username }}</p>
              <p>팔로우: {{ user.followings.all|length }} / 팔로워: {{ user.followers.all|length }}</p>
              <span>( liked {{ user.like_movies.all|length }} movies )</span>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  {% else %}
    <br>
    <h3>- 🕴 Users</h3>
    <br>
    <h2>검색 결과가 없습니다...</h2>
  {% endif %}
</ul>

{% endblock content %}
