<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'base.css' %}">
  <script src="https://kit.fontawesome.com/4f39ab84aa.js" crossorigin="anonymous"></script>
  <!--vue cdn-->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  {% comment %} Lobster+Jura+한국어 폰트 {% endcomment %}
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Jura:wght@600&family=Lobster&family=Noto+Sans+KR&display=swap" rel="stylesheet">

  {% block css %}{% endblock %}
</head>

<body>
{% block nav %}{% endblock nav %}
<div class="header">
  <nav class="navbar navbar-expand-lg navbar-dark bg-warning d-flex justify-content-between align-items-center px-3 p-3 fixed-top">
  {% comment %} 
    👉 navbar-dark : 글자 색을 흰색으로
    👉 fixed-top : 스크롤을 내려도 맨 위에 위치
  {% endcomment %}
    <div class="container-fluid">

      {% comment %} 👉 로고 이미지 삽입 {% endcomment %}
      <a class="navbar-brand p-0" href="{% url 'movies:index' %}"><img src="{% static 'pickcorn3.png' %}" alt="" width="60"></a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        {% if request.user.is_authenticated %}
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'movies:index' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'movies:homepage' %}">Search</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'accounts:profile' user.pk %}">My Page</a>
            </li>
          </ul>

          <ul class="navbar-nav d-flex">
            <a class="nav-link active" href="{% url 'accounts:profile' user.pk %}" >Welcome {{ user.username }}</a>
            {% comment %}
             👉 <a class="nav-link active" href="#" id="logout">로그아웃</a>  이렇게 말고
             아래와 같이 form과 js를 사용하면 버튼이 아니라 navbar 다른 요소들처럼 나온다.
            {% endcomment %}
            <form action="{% url 'accounts:logout' %}" method="POST" id="logoutForm">
                {% csrf_token %}
                <a class="nav-link active logout" href="#" onclick="document.getElementById('logoutForm').submit()">Logout</a>
            </form>
          </ul>
          {% comment %} 
            👉 ul 태그를 두 번 넣은 이유 : justify-content-between 으로 양쪽으로 갈라놓으려고!
          {% endcomment %}
            
        {% else %}
          <ul class="navbar-nav">
            <p></p>
          </ul>
          {% comment %} 
            👉 여기서도 양쪽으로 갈라놓기 위해서 비어있는 p태그 삽입함
          {% endcomment %}
          
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'accounts:signup' %}">Sign in</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="{% url 'accounts:login' %}">Login</a>
            </li>
            <span class="logout"></span>
          </ul>
          
        {% endif %}
      </div>
    </div>
  </nav>
</div>

  <div class="container mt-5 pt-5 navbar-light">

    {% block content %}
    {% endblock  %}

  <br>
  <br>
  <br>
  </div>
  
  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

</body>
</html>