{% extends 'base.html' %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'login.css' %}">
{% endblock %}

{% block content %}
{% comment %} <img class="img-main" src="#" alt="" width="72" height="57"> {% endcomment %}
<h1 class="text-center text-light">🥤 로그인 🥤</h1>
<form class="form-login" method="POST" action="">
  {% csrf_token %}
    <h1 class="h3 mb-3 fw-normal text-light">Please Log in</h1>

    <div class="form-floating">
      <input type="text" class="form-control" id="username" placeholder="아이디" name="username" value="{{ form.username.value|default_if_none:'' }}">
      <label for="username">아이디</label>
      <div class="text-light">
        {{ form.username.errors }}
      </div>
    </div>

    <div class="form-floating mb-3">
      <input type="password" class="form-control" id="password" placeholder="비밀번호" name="password" value="{{ form.password1.value|default_if_none:'' }}">
      <label for="password">비밀번호</label>
      <div class="text-light">
        {{ form.password.errors }}
      </div>
    </div>

    {% if form.errors %}
      {% for field in form %}
          {% for error in field.errors %}  <!-- 필드 오류를 출력한다. -->
              <div class="alert alert-warning">
                  <strong>{{ field.label }}</strong>
                  {{ error }}
              </div>
          {% endfor %}
      {% endfor %}
      {% for error in form.non_field_errors %}   <!-- 넌필드 오류를 출력한다. -->
          <div class="alert alert-warning">
              <strong>{{ error }}</strong>
          </div>
      {% endfor %}
    {% endif %}

    <button class="w-100 btn btn-lg btn-primary mb-4" type="submit">Log in</button>
    
    <div class="text-light d-flex justify-content-between">
      <p class="mb-1 mt-2">아직 회원이 아니신가요? ಥ_ಥ</p>
      <a class="signup-btn btn text-light" href="{% url 'accounts:signup' %}" role="button">회원가입</a>
    </div>

    <p class="mt-5 mb-3 text-muted">&copy; PICKCORN :D</p>

</form>


{% endblock  %}