{% extends 'base.html' %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'profile.css' %}">
{% endblock %}

{% block content %}

<br>
<br>
<br>
<!--페이지 타이틀-->

<h1>{{ person.username|title }}'s profile</h1>
<br>
<!--팔로우 언팔로우 버튼 구현-->

<!-- 자기가 자기는 팔로우 못함-->
{% if request.user != person %}
  <form action="{% url 'accounts:follow' person.pk%}" method="POST">
    {% csrf_token %}
    <!--기존팔로워면 언팔가능-->
    {% if request.user in person.followers.all %}
    <button class="btn btn-secondary d-block like-btn">Unfollow</button>
    <!-- 아니면 팔로우가능-->
    {% else %}
    <button class="btn btn-success d-block like-btn">Follow</button>
    {% endif %}
  </form>
{% endif %}

<hr>
<br>
{% comment %} 팔로잉, 팔로워 숫자 {% endcomment %}

<h5>
  <b>🍕 follower : </b>
  <a href="{% url 'accounts:followers' person.pk %}">{{ person.followers.all|length }}</a>
</h5>

<h5>
  <b>🍔 following : </b>
  <a href="{% url 'accounts:followings' person.pk %}">{{ person.followings.all|length }}</a>
</h5>

<br>
<hr>

<div class="accordion" id="accordionExample">
  <!--   프로필의 유저가 작성한 모든 글의 제목 -->
  <div class="accordion-item">
    <h2 class="accordion-header " id="headingOne">
      <button class="accordion-button alert-info collapsed " type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
        <span><b>{{ person.username }}</b> 님이 작성한 리뷰</span>
        <span class="badge mx-2"><b>{{ person.article_set.all|length }}</b>개</span>
        {% comment %} 👉 badge를 사용해서 개수가 눈에 잘 보이게 표현 {% endcomment %}
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <li>
        {% for article in person.article_set.all %}
          <a class="text-decoration-none text-dark" href="{% url 'movies:article_detail' article.pk %}">
          {% comment %} 👉 text-decoration-none : a태그 사용 시 추가되는 밑줄 제거 {% endcomment %}
            <p>{{ article.title }} ({{ article.movie.title }})</p>
          </a>
        {% endfor %}
        </li>
      </div>
    </div>
  </div>

  <!--   프로필의 유저가 작성한 모든 댓글의 내용 -->
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button alert-info collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        <span><b>{{ person.username }}</b> 님이 남긴 댓글</span>
        <span class="badge mx-2"><b>{{ person.comment_set.all|length }}</b>개</span>
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <li>
        {% for comment in person.comment_set.all %}
          <a class="text-decoration-none text-dark" href="{% url 'movies:article_detail' comment.article.pk %}">
            <p>{{ comment.content }} (글 제목: {{ comment.article.title }} / 영화: {{ comment.article.movie.title }})</p>
          </a>
        {% endfor %}
        </li>
      </div>
    </div>
  </div>

  <!-- 좋아요한 영화 -->
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button alert-info collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          <span><b>{{ person.username }}</b> 님이 좋아요 누른 영화</span>
          <span class="badge mx-2"><b>{{ person.rated_good_movies.all|length }}</b>개</span>
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse container" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body row justify-content-center">
        {% for movie in posts %}
          <div class="col-12 col-sm-4 col-lg-2">
            <a href="{% url 'movies:detail' movie.pk %}" class="text-decoration-none">
              <div class="card h-100">
                <img src="https://image.tmdb.org/t/p/original/{{ movie.poster_path }}" class="card-img-top" alt="movie poster">
                  <div class="badge bg-primary card-text">
                    평점: {{ movie.weighted_vote|floatformat }}
                  </div>
              </div>
            </a>
          </div>

        {% endfor %}

      </div>
      {% comment %} pagination을 통해 일정 개수만 보여주고 다음 결과는 뒷 페이지로 보여줌 {% endcomment %}
      <div class="d-flex justify-content-center">
        {% if posts.has_previous %}
        <a href="?page={{ posts.previous_page_number }}&like_page={{ like_posts.number }}"><button type="button" class="btn btn-warning m-3">previous</button></a>
        {% comment %} query문에 다른 pagination의 정보도 같이 넣음으로서 다른 버튼을 눌러도 page 정보를 잃지 않게 함 {% endcomment %}
        {% endif %}
        <button type="button" class="btn btn-secondary m-3">{{ posts.number }}/{{ posts.paginator.num_pages }}</button>
        {% if posts.has_next %}
        <a href="?page={{ posts.next_page_number }}&like_page={{ like_posts.number }}"><button type="button" class="btn btn-warning m-3">next</button></a>
        {% endif %}
      </div>
    </div>

    <!--  찜한 영화와 숫자 -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingOne">
        <button class="accordion-button collapsed alert-info" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            <span><b>{{ person.username }}</b>'s playlist</span>
            <span class="badge mx-2"><b>{{ person.like_movies.all|length }}</b>개</span>
        </button>
      </h2>
      <div id="collapseFour" class="accordion-collapse collapse container" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
      <div class="accordion-body row justify-content-center">
        {% for movie in like_posts %}
          <div class="col-12 col-sm-4 col-lg-2">
            <a href="{% url 'movies:detail' movie.pk %}" class="text-decoration-none">
              <div class="card h-100">
                <img src="https://image.tmdb.org/t/p/original/{{ movie.poster_path }}" class="card-img-top" alt="movie poster">
                <div class="badge bg-primary card-text">
                  평점: {{ movie.weighted_vote|floatformat }}
                </div>
              </div> 
            </a>
          </div>
        {% endfor %}
        
        {% comment %} pagination을 통해 일정 개수만 보여주고 다음 결과는 뒷 페이지로 보여줌 {% endcomment %}
        <div class="d-flex justify-content-center">
          {% if like_posts.has_previous %}
          <a href="?like_page={{ like_posts.previous_page_number }}&page={{ posts.number }}"><button type="button" class="btn btn-warning m-3">previous</button></a>
          {% comment %} query문에 다른 pagination의 정보도 같이 넣음으로서 다른 버튼을 눌러도 page 정보를 잃지 않게 함 {% endcomment %}
          {% endif %}
          <button type="button" class="btn btn-secondary m-3">{{ like_posts.number }}/{{ like_posts.paginator.num_pages }}</button>
          {% if like_posts.has_next %}
          <a href="?like_page={{ like_posts.next_page_number }}&page={{ posts.number }}"><button type="button" class="btn btn-warning m-3">next</button></a>
          {% endif %}
        </div>
      </div>
    </div> 
  </div>
</div>

{% endblock content %}

