{% extends 'base.html' %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'profile.css' %}">
{% endblock %}

{% block content %}

<br>
<br>
<br>

  <!--페이지 타이틀-->
  
  <h1>{{ person.username|title }}'s profile</h1>

  <!--팔로우 언팔로우 버튼 구현-->

  <!-- 자기가 자기는 팔로우 못함-->
  {% if request.user != person %}
    <form action="{% url 'accounts:follow' person.pk%}" method="POST">
      {% csrf_token %}
      <!--기존팔로워면 언팔가능-->
      {% if request.user in person.followers.all %}
      <button>Unfollow</button>
      <!-- 아니면 팔로우가능-->
      {% else %}
      <button>Follow</button>
      {% endif %}
    </form>
  {% endif %}

  <hr>
  <br>
  {% comment %} 팔로잉, 팔로워 숫자 {% endcomment %}

  <h5>
    <b>🍕 follower : </b>
    <a href="{% url 'accounts:followers' person.pk %}">{{ person.followers.all|length }}</a>
  </h5>

  <h5>
    <b>🍔 following : </b>
    <a href="{% url 'accounts:followings' person.pk %}">{{ person.followings.all|length }}</a>
  </h5>

  <br>
  <hr>
  {% comment %} 작성자의 팔로잉, 팔로워 숫자를 보여주고 유저의 이름을 모두 출력

  <h5>followers</h5>
  <ul>
  {% for follower in person.followers.all %}
  <li>{{ follower.username }}</li>
  {% endfor %}
  </ul>



  <h5>followings</h5>
  <ul>
  {% for following in person.followings.all %}
  <li>{{ following.username }}</li>
  {% endfor %}
  </ul>

  <hr> {% endcomment %}


<div class="accordion" id="accordionExample">
  <!--   프로필의 유저가 작성한 모든 글의 제목 -->
  <div class="accordion-item">
    <h2 class="accordion-header " id="headingOne">
      <button class="accordion-button alert-info collapsed " type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
        <span><b>{{ person.username }}</b> 님이 작성한 리뷰</span>
        <span class="badge mx-2"><b>{{ person.article_set.all|length }}</b>개</span>
        {% comment %} 👉 badge를 사용해서 개수가 눈에 잘 보이게 표현 {% endcomment %}
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <li>
        {% for article in person.article_set.all %}
          <a class="text-decoration-none" href="{% url 'movies:article_detail' article.pk %}">
          {% comment %} 👉 text-decoration-none : a태그 사용 시 추가되는 밑줄 제거 {% endcomment %}
            <p>{{ article.title }}</p>
          </a>
        {% endfor %}
        </li>
      </div>
    </div>
  </div>

  <!--   프로필의 유저가 작성한 모든 댓글의 내용 -->
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button alert-info collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        <span><b>{{ person.username }}</b> 님이 남긴 댓글</span>
        <span class="badge mx-2"><b>{{ person.comment_set.all|length }}</b>개</span>
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <li>
        {% for comment in person.comment_set.all %}
          <a class="text-decoration-none" href="{% url 'movies:article_detail' comment.article.pk %}">
            <p>{{ comment.content }}</p>
          </a>
        {% endfor %}
        </li>
      </div>
    </div>
  </div>

  <!-- 따봉한 영화 -->
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button alert-info collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          <span><b>{{ person.username }}</b> 님이 좋아요 누른 영화</span>
          <span class="badge mx-2"><b>{{ person.rated_good_movies.all|length }}</b>개</span>
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse container" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body row justify-content-center">
        {% for movie in posts %}
          <div class="col-12 col-sm-4 col-lg-2">
            <a href="{% url 'movies:detail' movie.pk %}" class="text-decoration-none">
              <div class="card h-100">
                <img src="https://image.tmdb.org/t/p/original/{{ movie.poster_path }}" class="card-img-top" alt="movie poster">
                  <div class="badge bg-primary card-text">
                    평점: {{ movie.weighted_vote|floatformat }}
                  </div>
              </div>
            </a>
          </div>

        {% endfor %}

      </div>
      <div class="d-flex justify-content-center">
        {% if posts.has_previous %}
        {% comment %} <a href="?page=1"><button type="button" class="btn btn-warning">first</button></a> {% endcomment %}
        <a href="?page={{ posts.previous_page_number }}&like_page={{ like_posts.number }}"><button type="button" class="btn btn-warning mb-4">previous</button></a>
        {% endif %}
        <span>{{ posts.number }}</span>
        <span>/</span>
        <span>{{ posts.paginator.num_pages }}</span>
        {% if posts.has_next %}
        <a href="?page={{ posts.next_page_number }}&like_page={{ like_posts.number }}"><button type="button" class="btn btn-warning mb-4">next</button></a>
        {% comment %} <a href="?page={{ posts.paginator.num_pages }}"><button type="button" class="btn btn-warning">last</button></a> {% endcomment %}
        {% endif %}
      </div>
    </div>

    <!--  찜한 영화와 숫자 -->
    <div class="accordion-item">
      <h2 class="accordion-header" id="panelsStayOpen-headingOne">
        <button class="accordion-button collapsed alert-info" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            <span><b>{{ person.username }}</b>'s playlist</span>
            <span class="badge mx-2"><b>{{ person.like_movies.all|length }}</b>개</span>
        </button>
      </h2>
      <div id="collapseFour" class="accordion-collapse collapse container" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
      <div class="accordion-body row justify-content-center">
        {% for movie in like_posts %}
          <div class="col-12 col-sm-4 col-lg-2">
            <a href="{% url 'movies:detail' movie.pk %}" class="text-decoration-none">
              <div class="card h-100">
                <img src="https://image.tmdb.org/t/p/original/{{ movie.poster_path }}" class="card-img-top" alt="movie poster">
                <div class="badge bg-primary card-text">
                  평점: {{ movie.weighted_vote|floatformat }}
                </div>
              </div> 
            </a>
          </div>
        {% endfor %}
        
        <div class="d-flex justify-content-center">
          {% if like_posts.has_previous %}
          {% comment %} <a href="?page=1"><button type="button" class="btn btn-warning">first</button></a> {% endcomment %}
          <a href="?like_page={{ like_posts.previous_page_number }}&page={{ posts.number }}"><button type="button" class="btn btn-warning">previous</button></a>
          {% endif %}
          <button type="button" class="btn btn-secondary m-3">{{ like_posts.number }}/{{ like_posts.paginator.num_pages }}</button>
          {% if like_posts.has_next %}
          <a href="?like_page={{ like_posts.next_page_number }}&page={{ posts.number }}"><button type="button" class="btn btn-warning m-3">next</button></a>
          {% comment %} <a href="?page={{ like_posts.paginator.num_pages }}"><button type="button" class="btn btn-warning">last</button></a> {% endcomment %}
          {% endif %}
        </div>
      </div>
    </div> 
  </div>
</div>

{% endblock content %}

