{% extends 'base.html' %}


{% block content %}

<br>
<br>
<br>
<br>
<br>
<br>

  <!--페이지 타이틀-->
  
  <h1>{{ person.username|title }}'s profile</h1>

  <!--팔로우 언팔로우 버튼 구현-->

  <!-- 자기가 자기는 팔로우 못함-->
  {% if request.user != person %}
    <form action="{% url 'accounts:follow' person.pk%}" method="POST">
      {% csrf_token %}
      <!--기존팔로워면 언팔가능-->
      {% if request.user in person.followers.all %}
      <button>Unfollow</button>
      <!-- 아니면 팔로우가능-->
      {% else %}
      <button>Follow</button>
      {% endif %}
    </form>
  {% endif %}

  <hr>
  {% comment %} 팔로잉, 팔로워 숫자 {% endcomment %}

  <p>
    <b>follower: </b>
    <a href="{% url 'accounts:followers' person.pk %}">{{ person.followers.all|length }}</a>
  </p>

  <p>
    <b>following: </b>
    <a href="{% url 'accounts:followings' person.pk %}">{{ person.followings.all|length }}</a>
  </p>

  
  <hr>
  {% comment %} 작성자의 팔로잉, 팔로워 숫자를 보여주고 유저의 이름을 모두 출력

  <h5>followers</h5>
  <ul>
  {% for follower in person.followers.all %}
  <li>{{ follower.username }}</li>
  {% endfor %}
  </ul>



  <h5>followings</h5>
  <ul>
  {% for following in person.followings.all %}
  <li>{{ following.username }}</li>
  {% endfor %}
  </ul>

  <hr> {% endcomment %}

<div class="accordion" id="accordionExample">
  <!--   프로필의 유저가 작성한 모든 글의 제목 -->
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        <b>{{ person.username }}</b> created {{ person.article_set.all|length }} reviews
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <ul>
        {% for article in person.article_set.all %}
        <li>{{ article.title }}</li>
        {% endfor %}
        </ul>
      </div>
    </div>
  </div>

  <!--   프로필의 유저가 작성한 모든 댓글의 내용 -->
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        <p><b>{{ person.username }}</b> left {{ person.comment_set.all|length }} comments</p>
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <ul>
        {% for article in person.article_set.all %}
        <li>{{ article.title }}</li>
        {% endfor %}
        </ul>
      </div>
    </div>
  </div>

  <!-- 따봉한 영화 -->
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          <p><b>{{ person.username }}</b> likes {{ person.rated_good_movies.all|length }} movies</p>
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <ul>
        {% for good in person.rated_good_movies.all %}
          <li>{{ good.title }}</li>
          <a href="{% url 'movies:detail' good.pk %}">
            <img src="https://image.tmdb.org/t/p/original/{{ good.poster_path }}" alt="no photos yet" width="180">
          </a>
        {% endfor %}
        </ul>
      </div>
    </div>

    <!--  찜한 영화와 숫자 -->
    <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          <p><b>{{ person.username }}</b>'s playlist</p>
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <ul>
        {% for like in person.like_movies.all %}
          <li>{{ like.title }}</li>
          <a href="{% url 'movies:detail' like.pk %}">
            <img src="https://image.tmdb.org/t/p/original/{{ like.poster_path }}" alt="no photos yet" width="180">
          </a>
        {% endfor %}
        </ul>
      </div>
    </div>
    
  </div>
</div>


{% endblock content %}

