{% extends 'base.html' %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'signup.css' %}">
{% endblock %}

{% block content %}
<h1 class="text-center text-light">🍿 Sign in 🍿</h1>
<form class="form-signin text-dark" method="post">
  {% csrf_token %}
    <h1 class="h3 mb-3 fw-normal text-light">Please sign in</h1>

    <div class="form-floating">
      <input type="text" class="form-control" id="username" placeholder="아이디" name="username" value="{{ form.username.value|default_if_none:'' }}">
      <label for="username">아이디</label>
      <div class="text-light">
        <p class="text-light">{{ form.username.errors }}</p>
      </div>
    </div>
    {% comment %} 
     # 👉 {{ form.username.errors }} 를 쓰면 회원가입 시 발생되는 에러 문구를 자동으로 띄워주기 때문에
     # 👉 <p class="text-light">- 20자 이하 문자, 숫자 그리고 @/./+/-/_만 가능합니다.</p> 같은 문구는 따로 삽입하지 않아도 됨!
    {% endcomment %}

    <div class="form-floating">
      <input type="password" class="form-control" id="password1" placeholder="비밀번호 입력" name="password1" value="{{ form.password1.value|default_if_none:'' }}">
      <label for="password1">비밀번호 입력</label>
      <div class="text-light">
        <p>{{ form.password1.errors }}</p>
      </div>
    </div>

    <div class="form-floating">
      <input type="password" class="form-control" id="password2" placeholder="비밀번호 확인" name="password2" value="{{ form.password2.value|default_if_none:'' }}">
      <label for="password2">비밀번호 확인</label>
      <div class="text-light">
        <p class="text-light">{{ form.password2.errors }}</p>
      </div>
    </div>

    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">&copy; PICKCORN :D</p>
</form>
{% endblock  %}